body{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #425c96;
    position: fixed;
    height: 100%;
}

li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-top: #000;
    text-align: center;

}

li a:hover{
    background-color: #555;
    color: white;
}

.text{
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000px;
    
}

.jordan{
    height: 120px;
    width: auto;
}

.nk{
    color:black;
}

.instagram{
    height: 60px;
    width: auto;
}

.logo{
    height: 50px;
    width: auto;
    padding-left: 118px;
}

footer{
    color:black;
    padding-left: 500px;
    padding-top: 1000px;
}